body {
    margin: 0;
    overflow: hidden;
    
}

* {
    box-sizing: border-box;
}

canvas{
    width: 100vw;
    height: 85vh;
    cursor: crosshair;
    display: block;

}

.taskbar-parent{
    background-color: rgba(128, 128, 128, 0.603);
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#pen,#highlight,#eraser,#clear,#save,#text,#pen2,#pen3,#pen4,#pen5{
    font-size: 42px;
    margin-right: 40px ;
}

#pen:hover,#highlight:hover,#eraser:hover,#clear:hover,#save:hover,#text:hover,.edit:hover{
    cursor: pointer;
    transform: scale(1.2);
    font-weight: bolder;
}
#save{
    padding-left: 30px;
}
#pen{
 color: black;
}
#pen2{
 color: blue;
}
#pen3{
 color: green;
}
#pen4{
 color: red;
}
#pen5{
 color: yellow;
}
#highlight{
 color: blueviolet;
}
#eraser{
    color: white;
   }
   #save{
    color: greenyellow;
   }
   #clear{
       color: red;
   }
.selected{
    border: 2px dashed grey;
    animation: mymove 500ms infinite;
}
@keyframes mymove {
    50% {border: 3px dashed black;
  }
}
